<ion-view view-title="Font Lab" class="board-wrapper">
    <ion-content ng-class="{'has-subfooter': footer1}">
    </ion-content>
    <ion-footer-bar class="bar-subfooter subfooter-1" ng-if="footer1">
        <div class="button-bar">
            <a class="button button-icon"><i class="fa fa-font fa-lg"></i></a>
            <a class="button button-icon"><i class="fa fa-bold fa-lg"></i></a>
            <a class="button button-icon"><i class="fa fa-italic fa-lg"></i></a>
            <a class="button button-icon"><i class="fa fa-underline fa-lg"></i></a>
            <a class="button button-icon"><i class="fa fa-strikethrough fa-lg"></i></a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar class="bar-subfooter subfooter-2" ng-if="footer2">
    </ion-footer-bar>
    <ion-footer-bar class="bar-subfooter subfooter-3" ng-if="footer3">
    </ion-footer-bar>
    <ion-footer-bar class="bar-subfooter subfooter-4" ng-if="footer4">
    </ion-footer-bar>
    <ion-footer-bar class="bar-subfooter subfooter-5" ng-if="footer5">
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
        <a class="button button-icon icon ion-ios-flask-outline"></a>
        <a class="button button-icon icon ion-paintbrush"></a>
        <a class="button button-icon icon ion-paintbucket"></a>
        <a class="button button-icon icon ion-ios-color-wand-outline"></a>
        <a class="button button-icon icon ion-easel"></a>
    </ion-footer-bar>
    <ion-footer-bar class="footer">
        <div class="button-bar">
            <a class="button button-icon icon ion-ios-flask-outline" ng-click="toggleFooter('footer1')"></a>
            <a class="button button-icon icon ion-paintbrush" ng-click="toggleFooter('footer2')"></a>
            <a class="button button-icon icon ion-paintbucket" ng-click="toggleFooter('footer3')"></a>
            <a class="button button-icon icon ion-ios-color-wand-outline" ng-click="toggleFooter('footer4')"></a>
            <a class="button button-icon icon ion-easel" ng-click="toggleFooter('footer5')"></a>
        </div>
    </ion-footer-bar>
</ion-view>
